<div class="container">
    @if (pedidosEntregar.length > 0) {
        <h1 class="text-body-secondary">Pedidos Terminados</h1>
        @for (pedido of pedidosEntregar; track pedido) {
            <ul class="list-group">
                <li class="list-group-item">{{pedido.numero}} - {{pedido.descripcion}} <button (click)="pedidoEntregado(pedido)" class="btn btn-danger">Entregar</button></li>
            </ul>
        }
    }
</div>

<div class="container">
    <form #form="ngForm" (ngSubmit)="enviarNuevoPedido()" >
        <h1 class="text-body-secondary">Nuevo Pedido</h1>

        <div>
            <label class="col-sm-2 col-form-label">Nombre</label>
            <input #nombre="ngModel" type="text" [(ngModel)]="nuevoPedido.nombre" name="nombre" required class="form-control" minlength="4">
            @if (nombre.invalid && nombre.touched) {
                <div>
                    @if (nombre.getError('required')) {
                        <p>Nombre necesario</p>
                    }
                    @else if (nombre.getError('minlength')) {
                        <p>El nombre minimo tiene 4 letras</p>
                    }
                </div>
            }
        </div>
    
        <div>
            <label class="col-sm-2 col-form-label">Descripcion</label>
            <input #descripcion="ngModel" type="text" [(ngModel)]="nuevoPedido.descripcion" name="descripcion" required class="form-control" minlength="20">
            @if (descripcion.invalid && descripcion.touched) {
                <div>
                    @if (descripcion.getError('required')) {
                        <p>Descripcion necesario</p>
                    }
                    @else if (descripcion.getError('minlength')) {
                        <p>La descripcion minimo tiene 20 letras</p>
                    }
                </div>
            }
        </div>
        
        <div class="m-4"></div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" [disabled]="!form.valid">Ordenar</button>
        </div>
    </form>    
</div>

