<div>
    @if (pedidosEntregar.length > 0) {
        <h1>Pedidos Terminados</h1>
        @for (pedido of pedidosEntregar; track pedido) {
            <ul>
                <li>{{pedido.numero}} - {{pedido.descripcion}} <button (click)="pedidoEntregado(pedido)">Entregar</button></li>
            </ul>
        }
    }
</div>

<div>
    <form #form="ngForm" (ngSubmit)="enviarNuevoPedido()" >
        <div>
            <label>Nombre</label>
            <input #name="ngModel" type="text" [(ngModel)]="nuevoPedido.nombre" name="nombre" required>
        </div>
    
        <div>
            <label>Descripcion</label>
            <input #descripcion="ngModel" type="text" [(ngModel)]="nuevoPedido.descripcion" name="descripcion" required>
        </div>
    
        <button>Ordenar</button>
    </form>    
</div>

