<div class="container">
    @if (pedidosCocinar.length > 0) {
        <h1 class="text-body-secondary">Pedidos a Cocinar</h1>

        @for (pedido of pedidosCocinar; track pedido) {
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{pedido.numero}} - {{pedido.descripcion}} <button class="btn btn-warning" (click)="empezarCoccion(pedido)">Cocinar</button></li>
            </ul>
        }
    }
</div>
<div class="container">
    @if (pedidosCoccion.length > 0) {
        <h1 class="text-body-secondary">Pendiente en Coccion</h1>
        @for (pedido of pedidosCoccion; track pedido) {
            <ul class="list-group">
                <li class="list-group-item">{{pedido.numero}} - {{pedido.descripcion}}</li>
            </ul>
        }

        <div class="m-4"></div>
    
        <div class="d-grid gap-2">
            <button (click)="terminarCoccion()" class="btn btn-success">Pedido Terminado</button>
        </div>
    }
</div>