<div>
    @if (pedidosCocinar.length > 0) {
        <h1>Pedidos a Cocinar</h1>

        @for (pedido of pedidosCocinar; track pedido) {
            <ul>
                <li>{{pedido.numero}} - {{pedido.descripcion}} <button (click)="empezarCoccion(pedido)">Cocinar</button></li>
            </ul>
        }
    }
</div>
<div>
    @if (pedidosCoccion.length > 0) {
        <h1>Pendiente en Coccion</h1>
        @for (pedido of pedidosCoccion; track pedido) {
            <ul>
                <li>{{pedido.numero}} - {{pedido.descripcion}}</li>
            </ul>
        }
        <button (click)="terminarCoccion()" >Pedido Terminado</button>
    }
</div>